<form>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Tipo de Orçamento</label>
    <select class="form-control" id="type">
      <option>Sacada</option>
      <option>Box</option>
      <option>Espelho</option>
      <option>Engenharia</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Tipo de Vidro</label>
    <select class="form-control" id="typeVidro">
      <option>Temperado 8MM</option>
      <option>Temperado 10MM</option>
      <option>Temperado 4+4MM</option>
      <option>Temperado 5+5MM</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Cor</label>
    <select class="form-control" id="color">
      <option>Incolor</option>
      <option>Fumê</option>
      <option>Verde</option>
      <option>Bronze</option>      
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Altura</label>
    <input type="number" min="0" step=".01" class="form-control" id="heigth" placeholder="Altura">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Largura</label>
    <input type="number" min="0" step=".01" class="form-control" id="witdh" placeholder="Largura">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Origem</label>
    <select class="form-control" id="origem">
      <option>Loja</option>
      <option>Vendedor</option>
      <option>Já Cliente</option> 
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Valor</label>
    <input type="number" min="0" step=".01" class="form-control" id="value" placeholder="Valor">
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Margem</label>
    <input type="number" min="0" step=".01" class="form-control" id="margin" placeholder="Margem">
  </div>
    <div class="form-group">
    <label for="exampleFormControlSelect1">Parcelas</label>
    <select class="form-control" id="spot">
      <option>1 Parcela</option>
      <option>2 Parcelas</option>
      <option>3 Parcelas</option>
      <option>4 Parcelas</option>
      <option>5 Parcelas</option>
      <option>6 Parcelas</option>
      <option>7 Parcelas</option>
      <option>8 Parcelas</option>
    </select>
  </div>
</form>